.addPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.inputs{
    width: 600px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
#btn{
    font-size: 20px;
    border-radius: 10px;
}