.head{
     background-color: rgb(225, 228, 231);
     display: flex;
     flex-direction: row;
     list-style: none;
     padding: 10px;
     margin: 10px;
     width: 100vw;
     height: 70px;
 }

.btn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
 }

