
.stile {
    background: linear-gradient(to bottom,
               rgb(201, 204, 205),
               rgb(208, 213, 214),
               rgb(223, 228, 230),
               rgb(242, 248, 250));
     display: flex;
     flex-direction: row;
     list-style: none;
     padding: 10px;
     margin: 0;
     width: 100%;
 }