body {
     overflow-x: hidden;
     display: flex;
     background: linear-gradient(to bottom,
               rgb(201, 204, 205),
               rgb(208, 213, 214),
               rgb(223, 228, 230),
               rgb(242, 248, 250));
 }


